# Ignore build artifacts
build/windows/
*.exe
*.dll
*.o
*.obj
*.log
*.tmp
# Ignore OS-specific files
.DS_Store
Thumbs.db
# Ignore editor/project files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# ignore specificlly build/windows/PLEMv5.exe
build/windows/PLEMv5.exe

# ignore standalone devices
standalone_devices/